<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bolyartech.forge.skeleton.dagger.basic"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".units.main.ActMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".units.login.ActLogin"
            android:label="@string/act__login__title"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".units.register.ActRegister"
            android:label="@string/act__register__title"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".units.select_login.ActSelectLogin"
            android:label="@string/act__select_login__title"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme"/>
        <activity
            android:name=".units.screen_name.ActScreenName"
            android:label="@string/act__screen_name__title"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".units.login_facebook.ActLoginFacebook"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".units.login_google.ActLoginGoogle"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>